# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build
/templates/java/build

# Ignore C# build artifacts
/templates/csharp/**/obj

__pycache__
node_modules
